/* Application styles could go here */
@media (min-width: 767px) {
  #header {
    background: #f3f3f3 url(../images/tls-tls.png) top right no-repeat;
    width: 100%;
  }

}

  .app-logo {
/*    background: url(../images/hxwd.png) center left no-repeat;*/
/*    display: block;*/
    max-width: 200px;
    max-height: 40px;
/*    text-indent: -999em;
    outline: 0;
    margin: 10px 0;*/
  }

.navbar{
    min-height: 50px;
    max-height: 50px;
}
/*@media (min-width: 920px) {

  #content {
    padding-top: 50px;
  }
}

@media (max-width: 792px) {

  #content {
    padding-top: 50px;
  }
}
*/
#content {
    padding-top: 70px;
  }

#content{
   padding-left: 70px;
}

#copyright p {
  padding: 0;
  color: #F3F3F3;
}
#poweredby {
  float: right;
  width: 120px;
  height: 56px;
  margin-bottom: 10px;
  display: inline-block;
  background: url(../images/powered-by.svg) no-repeat 50%;
  background-size: 100% 100%;
}

@media (max-width: 767px) {
  #sidebar {
    display: none;
  }
  #about {
    display: none;
  }
}


/* Draft ribbon, dev only */
/* The ribbons */
.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
   z-index: 1500;
}
.corner-ribbon.sticky{
  position: fixed;
}
.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.corner-ribbon.grey{background: #999; background-color: rgba(128,128,128, 0.75);}
.corner-ribbon.blue{background: #39d;}
.draft-info a{color:white;}
#draft-info{
  width: 410px;
  position: absolute;
  top: 45px;
  left: -96px;
  padding:1.5em 2em;
  text-align: center;
  letter-spacing: .75px;
  color: #f0f0f0;
  background: #999; background-color: rgba(128,128,128, 0.95);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
   z-index: 1500;
}

.ann-dialog {
  background: white;
  position: fixed;
  top: 55px;
  right: 0;
  max-width: 600px;
  max-height: 900px;
  display: none;
}      


.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    z-index:2147483647; 
} 

.popover {
    max-width: 100%
}

.icon{
    width : 20px;
    height : 20px;
}
.icon-small{
    width : 11px;
    height : 11px;
}


.swl-bullet{
    text-indent: -24px ;    
}

.hi .mark{
    background-color: #fcf8e3;
}

.dropdown-menu {         
  max-height: 300px;
  overflow-y: auto;
}