/* Application styles could go here */

@font-face {
  font-family: 'Noto Serif TC';
  src: url('../fonts/NotoSerifTC-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans TC';
  src: url('../fonts/NotoSansTC-Regular.woff') format('woff');
}

@font-face {
  font-family: "SWXZ-PUA";
  src: url('../fonts/swxz-pua.woff') format('woff');
}

@font-face {
  font-family: "SWXZ-UNI";
  src: url('../fonts/sw.woff') format('woff');
}

@font-face {
  font-family: "BNUSWXZ";
  src: url('../fonts/bnuswxz.woff') format('woff');
}

/*  Information about Chinese fonts on various platforms is gleaned from http://xahlee.info/js/html_chinese_font.html */

.chn-font {
  font-family: 'Microsoft YaHei', 'SimSun', 'Songti TC' , 'WenQuanYi', 'Noto Sans TC', sans;    
}

span.lb{
    display : none;
}

.table-hr {
    border-bottom: 1px solid #000;
}

.ed-SBCK {
     background-color: rgba(186, 245, 240, 0.25);       
}
.ed-WYG {
     background-color: rgba(222, 186, 245, 0.25);           
}

span.anchor {
    margin-top: -54px; /* height of nav, in this case 54px */
    display: block;
    height: 54px; /* height of nav, in this case 54px */
    visibility: hidden;
    position: relative;
}

@media (min-width: 767px) {
  #header {
/*    background: #f3f3f3 url(../images/tls-tls.png) top right no-repeat;*/
    width: 100%;
  }

}

  .app-logo {
/*    background: url(../images/hxwd.png) center left no-repeat;*/
/*    display: block;*/
    max-width: 200px;
    max-height: 40px;
/*    text-indent: -999em;
    outline: 0;
    margin: 10px 0;*/
  }

.navbar{
    min-height: 50px;
    max-height: 50px;
}
/*@media (min-width: 920px) {

  #content {
    padding-top: 50px;
  }
}

@media (max-width: 792px) {

  #content {
    padding-top: 50px;
  }
}
*/
#content {
    padding-top: 50px;
  }

#copyright p {
  padding: 0;
  color: #F3F3F3;
}
#poweredby {
  float: right;
  width: 120px;
  height: 56px;
  margin-bottom: 10px;
  display: inline-block;
  background: url(../images/powered-by.svg) no-repeat 50%;
  background-size: 100% 100%;
}

@media (max-width: 767px) {
  #sidebar {
    display: none;
  }
  #about {
    display: none;
  }
}


/* Draft ribbon, dev only */
/* The ribbons */
.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
   z-index: 1500;
}
.corner-ribbon.sticky{
  position: fixed;
}
.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.corner-ribbon.grey{background: #999; background-color: rgba(128,128,128, 0.75);}
.corner-ribbon.blue{background: #39d;}
.draft-info a{color:white;}
#draft-info{
  width: 410px;
  position: absolute;
  top: 45px;
  left: -96px;
  padding:1.5em 2em;
  text-align: center;
  letter-spacing: .75px;
  color: #f0f0f0;
  background: #999; background-color: rgba(128,128,128, 0.95);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
   z-index: 1500;
}


.highlight {
    background-color: #FFFF00;
}
.ann-dialog {
/*  background: white;*/
  position: fixed;
  top: 54px;
  right: 0;
  max-width: 600px;
  max-height: 900px;
  display: none;
}      


.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    z-index:2147483647; 
} 

.popover {
    max-width: 100%
}

.icon{
    width : 20px;
    height : 20px;
}
.icon-small{
    width : 11px;
    height : 11px;
}


.swl-bullet{
    text-indent: -24px ;    
}

.hix {
    background-color: #fcf8e3;
}

.dropdown-menu {         
  max-height: 700px;
  overflow-y: auto;
}

.tls-comm {
  font-size: smaller;  
  background-color: #f3faf0;
}

.tls-div:before {
    height: 54px;
    margin-top: -54px;
    content: "";
    display:block;     
    visibility: hidden;    
}

.nswl-col{
 color: #5bc0de;
/*  background: #999; 
 background-color: rgba(128,128,128, 0.95);   
  */
}

.rdl-col{
 color: #f0ad4e;
/*  background: #999; 
 background-color: rgba(128,128,128, 0.95);   
  */
}

.swxz-pua {
  font-size: 1rem;
  font-weight: 200;
  font-family: "SWXZ-PUA", Calibri, Tahoma, sans-serif;
}

.swxz-uni {
  font-size: 2rem;
  font-weight: 300;
  font-family: "SWXZ-UNI", Calibri, Tahoma, sans-serif;
}

.swxz {
  font-size: 2rem;
  font-weight: 300;
  font-family: "BNUSWXZ", Calibri, Tahoma, sans-serif;
}


.tei-fw {
 background-color: rgba(80,120,128, 0.25);       
}

.tei-byline {
 background-color: rgba(32,120,100, 0.25);       
}

.tei-head {
  font-size: larger;  
}
/* The following from stackexchange https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element
 * HEX Color picker : google
 * filter calculator : https://isotropic.co/tool/hex-color-to-css-filter/
 *  */

/* #b51421 */
.state-red {
    filter: invert(15%) sepia(78%) saturate(3487%) hue-rotate(343deg) brightness(89%) contrast(102%);
}
/* #e8b50c  */
.state-yellow {
    filter: invert(68%) sepia(20%) saturate(7489%) hue-rotate(14deg) brightness(114%) contrast(91%);
}

.state-green {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

/* #d1cdbe */ 
.note-anchor {
    filter: invert(89%) sepia(2%) saturate(1135%) hue-rotate(10deg) brightness(90%) contrast(100%);
}

.char-pron {
  background-color: #f3faf0;
}

.protypical-1 {
  background-color: #6C757D
}

.protypical-2 {
 background-color:  #7D6C6E
}

.protypical-3 {
  background-color:  #7B7D6C
}

/* StarRating */

.starRating:not(old){
  display        : inline-block;
  width          : 3.0em;
  height         : 1.0em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  width           : 1.0em;
  height          : 1.0em;
  float           : right;
  position        : relative;
  background      : url('../icons/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.0em;
  height          : 1.0em;
  background      : url('../icons/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating > :checked ~ label:before{
  opacity : 1;
}

.starRatingOn:not(old){
  content         : '';
  display         : block;
  width           : 1.0em;
  height          : 1.0em;
  background      : url('../icons/star-on.svg');
  background-size : contain;
  opacity : 1;    
  transition      : opacity 0.2s linear;
}