<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="app:page-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="stylesheet" type="text/css" href="resources/bootstrap-4.2.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/star-rating.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/star-svg-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/toastr.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
    </head>
    <body id="body">
        <div>
            <div id="main-navbar" data-template="app:main-navbar"/>
            <div id="content" class="container-fluid"/> 
            <div id="footer" data-template="app:footer"/>
            <a id="poweredby" href="http://exist-db.org"/>
            <!-- end top level container div -->
        </div>
        <!-- additional stuff -->
        <div id="dialogs" data-template="app:dialogs"/>        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="resources/scripts/jquery.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery-ui.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.sticky.js"/>
        <script type="text/javascript" src="resources/scripts/popper.min.js"/>
        <script type="text/javascript" src="resources/bootstrap-4.2.1/js/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="resources/scripts/star-rating.min.js"/>
        <script type="text/javascript" src="resources/scripts/star-svg-theme.min.js"/>
        <script type="text/javascript" src="resources/scripts/toastr.min.js"/>
        <script type="text/javascript" src="resources/scripts/tls-webapp.js"/>
    </body>
</html>
