<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="app:page-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="stylesheet" type="text/css" href="resources/bootstrap-4.2.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/star-rating.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/star-svg-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
    </head>
    <body id="body">
        <div>
            <div id="main-navbar" data-template="app:main-navbar"/>
            <div id="content" class="container-fluid"/> 
            <div id="footer">
                <div class="container">
                    <span id="copyright"/>
                    <p>Copyright TLS Project 2019</p>
                </div>
            </div>      
            <a id="poweredby" href="http://exist-db.org"/>
            <!-- end top level container div -->
        </div>
        <!-- additional stuff -->
        <div id="loginDialog" class="modal" tabindex="-1" role="dialog" style="display: none;">
            <p>Login</p>
            <div class="modal-dialog" style="z-index: 1080;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <form class="form form-horizontal" action="login" method="get">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-sm-2">User:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="user" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <input type="hidden" name="duration" value="P7D"/>
                    </form>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script type="text/javascript" src="resources/scripts/jquery.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery-ui.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.sticky.js"/>
        <script type="text/javascript" src="resources/scripts/popper.min.js"/>
        <script type="text/javascript" src="resources/bootstrap-4.2.1/js/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="resources/scripts/star-rating.min.js"/>
        <script type="text/javascript" src="resources/scripts/star-svg-theme.min.js"/>
        <script type="text/javascript" src="resources/scripts/tls-app.js"/>
        
    </body>
</html>